;; EXAMPLE CONFIG WITH 2 PROFILES (prod/dev)

{:prod
 {:level "DEBUG"
  :nss {"foo.bar.*" {:level "INFO"
                     :mdc {:service "drinks"
                           :key "barman"}}
        "foo.baz.*" {:level "INFO"
                     :mdc {:service "drinks"
                           :key "waitress"}}


        }
  :loggers
  #{
    ;; Everything formatted
    #logger/FormattingEvent
        {:pattern   "%-30s %-25s %-25s [%-5s] %s"
         :juxt-keys [:issued-at :host :thread :level :msg]
         :logger #logger/LockingConsole{}}

    ;; INFO and above - excluding ERROR/FATAL
    #logger/RemovingLevels
        {:levels #{"ERROR"
                   "FATAL"}
         :logger #logger/BatchingFile{:level "INFO"
                                      :file "/tmp/public.log"}}

    ;; ERROR and above
    #logger/AsyncFile{:level "ERROR"
                      :file "/tmp/errors.log"}
    }

  }

 :dev
 {:level "REPORT"
  :ns-levels {} ;;TODO
  :loggers
  #{
    #logger/FormattingEvent
        {:pattern   "%-30s [%-5s] %s"
         :juxt-keys [:issued-at :level :msg]
         :logger #logger/LockingConsole{}}


    #logger/BatchingFile{:out"/tmp/all.log"}




    }
  }

 :test
 {:level "TRACE"
  :ns-levels {} ;;TODO
  :loggers
  #{


    }
  }


 }